
.live-football{
    align-items: flex-start;
    flex-direction: row;
    height: 340px;
    border-radius: 30px;
    display: flex;
    background-color: gray;
}
.live-con{
    padding-top: 74px;
    margin-right: 270px;
    margin-left: 70px;
}
.live-con h1{

    color: gold;

}

.live-con p{

    color: #ffffff;

}

.link-button{
        text-align: center;
    text-decoration: none;
    background-image: linear-gradient(white,green );
    color: white;
    font-weight: 400;
    padding: 13px 31px;
    border-radius: 5px;
    cursor: pointer;
}
.container{
    
    max-width: 100%;
    
    margin: auto;
    border-radius: 5px;

}
.section-title{
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
    padding-left: 11px;
    padding-top: 17px;
}
.courses{
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.transfer{
    padding-top: 5px;
    padding-bottom: 12px;
    padding-left: 7px;
    box-shadow: 0px 1px 2px 1px lightgray;
    border-radius: 6px;
    margin: 8px;
    padding-right: 9px;
}
.course-banner img{
    width: 264px;
    height: 104px;
    border-radius: 5px;
}
.course-duration{
    
    border-radius: 14px;
    
    padding-left: 5px;
    padding-right: 5px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.course-detail1{
    text-align: center;
}
.course-title{
    padding-right: 18px;
}
.course-author a{
    text-decoration: none;

}
.course-author {
    margin-right: 171px;
    color: olive;
    border-radius: 5px;
    border: 1px solid forestgreen;
    display: block;
    padding: 3px 7px;
    
    background: #f2f1ee;
    font-size: 15px;
}
.side{
    margin-top: 73px;
}
.side aside{width: 312px;
    background: darkgreen;
    border-radius: 10px;
    padding: 30px;
   
}
#active,
.side aside a:hover{
    background:#dd0000;
    color: #fff;
}
.side aside a{
    background: #ffffff;
    border-radius: 10px;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    color: green;
    text-align: center;
    transition: 0.2s;

}
.side aside a:nth-child(2){
    margin:30px 0;
}
.last{
    align-items: flex-start;
    flex-direction: row-reverse;
    margin-right: 5px;
    display: flex;
}
.hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
.foot{
   
    background-color: gray;
    text-align: center;
    height: 200px;
}
.foot h1{
    font-family: 'Bad Script', cursive;
    padding-top: 30px;
        
    color: red;
}
nav > ul{
    justify-content: center;
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 20px;
    padding: 0px 10px;
}
nav li:hover{   
               
    margin-right:20px ;
    background: olive;
    color: #fff
}
nav li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav > ul > li:hover > ul{
    display: block;
    
    
}
@media only screen and (max-width:688px) {
    .container{
        background-color: red;
        grid-template-columns: repeat(1,1fr);
    }
   
}


/* @media only screen  and (min-width:688px)and */
    /* (max-width:992px){ */
        
        .container{
            width: 100%;
        }
        .last{
            
            grid-template-columns: repeat(2,1fr);
        
        }
        .last{
            grid-template-columns: repeat(1,1fr);
        }
        .transfer{
            flex-direction: column;
        }
    /* } */